name = "tinypool"
main = "src/index.ts"
compatibility_date = "2025-12-01"

[[d1_databases]]
binding = "DB"
database_name = "tinypool-db"
database_id = "your-d1-database-id"

[[rules]]
type = "Text"
globs = ["**/*.html"]
fallthrough = false

[triggers]
crons = ["* * * * *"]
